html{
  height:100%;
}
body{
  margin: 0px;
  height: 100%;
  width: 100%;
  /*background-color:#444;*/
  font-size: 18px;
  overflow: hidden;
  background-image: url("Dancefloor.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
 } 
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.blinkyDancer{
  border:10px solid pink;
  border-radius:10px;
  position:absolute;
}

.Dancer{
  position: absolute;
}

.lineup {
  float: right;
  padding:5px 12px;
} 

.dancefloor {
  position:fixed;
}